
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
  }
  
  .produto {
    width: 200px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .produto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .produtos {
    padding: 20px;
  }
  
  .contato {
    padding: 20px;
  }
  
  .carrinho {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    position: absolute;
  }  